/* main page */
#background {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#background img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

h1 {
  font-family: 'Cabin', sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  top: 180px;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
}

h2 {
  font-family: 'arsenale_white';
  font-size: 60px;
  position: absolute;
  top: 270px;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
}

#popup {
  font-family: 'Cabin', sans-serif;
  width: 500px;
  height: auto;
  margin: 0 auto;
  background-color: white;
  position: relative;
  top: 50%;
  transform: translateY(400%);
  padding: 12px;
  text-align: center;
}

#link {
  font-family: 'Cabin', sans-serif;
  font-size: 24px;
  position: absolute;
  top: 540px;
  left: 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
}

/* places page */
.title {
  font-family: 'arsenale_white';
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  text-align: left;
  padding-left: 30px;
}

.brief {
  font-family: 'Cabin', sans-serif;
  font-size: 12px;
  padding-left: 30px;
  position: relative;
  top: 75px;
}

#grid {
  margin: 0 auto;
  display: table;
  position: relative;
  top: 90px;
}

.place {
  width: 300px;
  height: inherit;
  padding: 25px;
  opacity: 50%;
}

/* berkeley page */
#doodles {
  margin: 0 auto;
  display: table;
  top: 90px;
}

.berksymbol {
  width: inherit;
  height: 300px;
  padding: 30px;
  opacity: 50%;
}

#description {
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;
  color: gray;
  text-indent: 50px;
  line-height: 150%;
}
